body {
    background-color: red;
}

form {
    background-color: white;
    width: 350px;
    height: 350px;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sub {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formarea {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: red;
    border-radius: 10px;
    border: none;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(205, 47, 47);
    cursor: pointer;
}